# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/launch.json
.vscode/tasks.json
1011/1011.在-d-天内送达包裹的能力
.gitignore
code/1011.在-d-天内送达包裹的能力
code/1186.删除一次得到子数组最大和
code/1239.串联字符串的最大长度
